body {
	background-color: #FFFFFF;
	max-width: 100%;
	height: auto;
	font-family: courier new, sans-serif;
	margin:10px 50px 10px 50px;
	color: #393F44;
}
header{
	margin-left: 65%;
}

main {
	background-color: #F6F6F6;
	display: flex;
	flex-direction: column;	
}

#wrapper {
	animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
	margin-top: 4%;
}

li a:hover {
    color: lightgrey;
}

.active{
	background-color: #E5F0F1;
}

.button {
    background-color: #E5F0F1;
    border: none;
    color: #393F44;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    margin-left: 46%;
    cursor: pointer;
	margin-bottom: 3%;
}

.button:hover {
    background-color: #393F44;
    color: #FFFFFF;
}
.buttonS {
	border-radius: 45%;
    float: center;
	
}

.social {
    background-color: #FFFFFF;
    border: none;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    margin-left: 46%;
    cursor: pointer;
}
.social:hover {
	opacity : 0.7;
}	

#social{
	margin-right: 20%;
	margin-bottom: 10px;
}

.button1 {
		  margin-left: 230px;
		  padding: 5px 3px;
		  
}
.button2 {
		  margin-left: 1px;
		  padding: 5px 3px;
		  }
.button3 {
		  margin-left: 5px;
		  padding: 5px 3px;
          }		
.button4 {
		  margin-left: 10px;
		  padding: 5px 3px;
          }		

ul {
    list-style-type: none;
    margin: 30px;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
	margin-top: 13px;
	color: #393F44;
	font-weight: bold;
	
}

li {
    float: right;
	
}

li a {
    display: inline-block;
    color: #393F44;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#title {
	font-size: 30px;
	text-align: center;
}

#parag{
	margin-left: 10%;
	margin-right: 10%;	
}

#title2 {
	font-size: 30px;
	margin-left: 10%;
}

#formalign {
	border-radius: 5px;
    padding: 20px;
	padding-bottom: 40px;
	margin-left: 8%;
	margin-right: 8%;
	}	

input[type=email],textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #E83556;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	margin-left: 5px;
		
}

input[type=submit]:hover {
    background-color: #b20000;
}

#logoo {
	width: 11%;
	float: left;
	height: auto;
	margin-top: -10px;
	margin-bottom: -80px;
	margin-left: 14px;
	opacity: 0.8s;
}

#bottom{
	text-align: center;
}

#fb {
	width:26px; height:27px;
}

#insta {
	 width:23px; height:22px;
	 padding-bottom: 2px;
}

#gmail {
	width:23px; height:19px;
	padding-bottom: 2px;
}

#shopping {
	width:23px; height: 23px;
	margin-left:
}

a {
	text-decoration: none;
}

footer {
	background-color: #393F44 ;
	height: 30px; 
	text-align: center;	
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 1px;
	padding-bottom: 15px;
   }


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}






	
